@import "../../bower_components/bootstrap/less/bootstrap.less";

@icon-font-path: "/bootstrap/dist/fonts/";

@darkBlue: #364659;
@red: #E22222;
@gray: #E3E3E3;
@darkGray: #4E5259;

body {font-family: 'smile', sans-serif; background: #F0F0F0;}

@font-face{font-family:'smile'; src:url('/fonts/smile.otf')}
ul{margin: 0;}
li {list-style:none}
a{text-decoration:none;}
.logo_font{font-family: "SignPainter";}
input{color: @darkBlue;}
input:focus{outline-width:0;}
button:focus{outline-width:0;}
#footer{padding: 0 0 2% 0;}
small{color: @darkGray;}

.content{
  background: #fff;
  padding: 20px 30px;
  margin: 20px 0px;
  border-radius: 5px;
}

.btn{
  background:@darkBlue;
  color: #fff;
  border: none;
}

.index_box{
  background: url("/img/main-bg.jpeg") no-repeat center center fixed;
  background-size: 100% 100%;
  height: 400px;
  position:relative;
  padding-top: 3%;
  #index_item{
    margin-top: 3%;
    color: #fff;
    .index_btn {
      -webkit-border-radius: 10;
      -moz-border-radius: 10;
      border-radius: 10px;
      color: #fff;
      font-size: 20px;
      padding: 5px 30px;
      border: 3px solid #fff;
      text-decoration: none;
      background:none;
    }
  }
}
.info_box{
  heigth: auto;
  #info_icon{img{width: 70px;}}
  #info_explan{p{width: 80%; margin-left: 10%;}}
}

.header{
  background: @darkBlue;
  position: fixed;
  z-index:1;
  width:100%;
  height:70px;
  a{color:#fff;}
}
.menu_bar{
  height:auto;
  width:auto;
  padding-top:70px;
  li{
    background:#495E78;
    height:40px;
    a{
      color:#fff;
      width: 100%;
    }
    &:hover{
      background:@darkBlue;
      a{background: @darkBlue;}
    }
  }
  .active{background:@darkBlue;}
  // &:active{background:@darkBlue;}
}
.search{width:250px;}

#login{
  #login_form{
    input{margin-bottom: 3%;}
  }
}

#sign{
  #sign_form{
    input{margin-bottom: 1%;}
    .labelBox{height:auto;}
    .error{height:auto; color: @red;}
  }
}