@import "./mine.less";

#createVote{
  label{width: 100%; text-align: right;}
  #voteContent{
    padding-top:2%;
    #answer{
      margin-bottom: 2%;
    }
    .controlBtn{
      cursor: pointer;
    }
  }
}