extends layout

block style

block script

block content
  #mainBox.container
    #all-table.row
      h3 모든 조사
      table.table.table-hover
        thead.text-center
          tr
            td.col-md-7.col-xs-7 제목
            td.col-md-2.col-xs-2 조회수
            td.col-md-3.col-xs-3 등록일
        tbody
          tr
            td
              a(href='#') [이벤트][마감] 야식하면 생각나는 음식은?? [1]
            td.text-center 3
            td.text-center 2014-02-14
          tr
            td
              a(href='#') [이벤트] 야식하면 생각나는 음식은?? [1]
            td.text-center 3
            td.text-center 2014-02-14
          tr
            td
              a(href='#') [이벤트] 야식하면 생각나는 음식은?? [1]
            td.text-center 3
            td.text-center 2014-02-14
          tr
            td
              a(href='#') [이벤트] 야식하면 생각나는 음식은?? [1]
            td.text-center 3
            td.text-center 2014-02-14
          tr
            td
              a(href='#') [이벤트] 야식하면 생각나는 음식은?? [1]
            td.text-center 3
            td.text-center 2014-02-14
          tr
            td
              a(href='#') [이벤트][마감] 야식하면 생각나는 음식은?? [1]
            td.text-center 3
            td.text-center 2014-02-14
          tr
            td
              a(href='#') [이벤트][마감] 야식하면 생각나는 음식은?? [1]
            td.text-center 3
            td.text-center 2014-02-14
    #searchBox.col-md-12.text-center
      input#search-all.search(type='text')
      input(type='submit', value='검색')
  #footer.container.visible-md.visible-lg
    hr
    .row
      .col-md-4
        strong 2015 홀가분 (HOLGABUN)
      .col-md-3.col-md-offset-5.text-right
        a(href="mailto:enon.jeong@gmail.com") enon.jeong@gmail.com