extends layout

block style

block script
  script(type = "text/javascript" src = "/js/dist/vote.js")

block content
  #mainBox.container
    #questionBox
      #questionInfo.row
        #userImg.col-md-4.text-center
          img(src='/img/zari.jpg')
        .col-md-8
          h2
            input#voteTitle(type="text" placeholder="제목 입력")
      #questionContent.row
        ul#answerList
          li
            input#answerValue1(type='text', placeholder="항목이름 입력")
        .row.text-center
          button#answerAdd.btn(onclick="answerAdd()") 추가
          button#answerDel.btn(onclick="answerDel()") 삭제
        .row.text-center
          button#voteOkBtn.btn() 올리기