html
  head
    title= title
    meta(charset = "utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel = "stylesheet" href = "/style/dist/mine.css")
  body(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
    .container-fluid
      .content
        h1 Error
        h3= message
        a.btn(href='javascript:history.back()') 뒤로가기