doctype html
html
  head
    title= title
    meta(charset = "utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel = "stylesheet" href = "/style/dist/ex.css")
    script(type = "text/javascript" src = "/jquery/dist/jquery.min.js")
    script(type = "text/javascript" src = "/bootstrap/dist/js/bootstrap.min.js")
  body
    #all
      #nav
        #logo
        #menu
          each i in [a,v,e,q,r,w,d]
            .icon ㅁ
          #user
            #user-icon
              .u-icon
            #user-name username
            #logout
              a logout
      #content
        #header
          #name
            .name-text ococ
          #plus-icon
            .icon
        #subcontent
          #title
            #t1 qwerqq
            #t2.t qwert
            #t3.t qwet
            #t4.t qwe
            #t5.t qw
            #t6.t qe
          #boxs
            each i in [a,b,c,d,e,f,g,h]
              .box
                #b1
                  .icon
                  p weurwoiqueroiqwueriqwuriwioeurwoie
                #b2.b 20.04.12 00:00:00
                #b3.b 40%
                #b4.b
                 span HIT
                #b5.b.n
                  span qewr
                  br
                  span qewr
                  br
                  span qewr
                #b6.b O
