<!DOCTYPE html>
<html>
<head>
  <title>Research BOOK</title>
  <meta http-equiv="Content-Type" content="html/text; charset=utf-8" >
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet/less" type="text/css" href="/static/style/dest/mine.css">
  <script type="text/coffeescript" src="/static/js/dest/mine.js"></script>
</head>
<body id="index-body">
  <div id="main-box">
    <div class="jumbotron" id="index-box">
      <div class="row">
        <div class="col-md-12" id="index-item">
          <center>
            <strong class="logo-font" style="font-size: 70px;">Research BOOK</strong>
            <p>설문조사 커뮤니티 "Research BOOK"을 지금 시작해보세요.</p>
            <a href="login.html" class="index-btn" id="start-btn">시작하기</a>
          </center>
        </div>
      </div>
    </div>
    <div class="container" id="info-box">
      <div class="row text-center" style="height:100px;">
        <h1>Menu</h1>
      </div>
      <div class="row text-center">
        <div class="col-md-4 col-sm-12">
          <div class="info-icon"><img src="/static/img/pen-icon.png"></div>
          <div class="info-explan"><h2>조사등록</h2><p>평소 궁금했던 질문들을 등록함으로써 궁금증을 해결할 수 있습니다.</p></div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="info-icon"><img src="/static/img/check-icon.png"></div>
          <div class="info-explan"><h2>조사참여</h2><p>조사에 참여하여 도움도 주고 이벤트 당첨의 기회를 얻을 수 있습니다.</p></div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="info-icon"><img src="/static/img/group-icon.png"></div>
          <div class="info-explan"><h2>커뮤니티</h2><p>조사 결과를 통하여 많은 사람들의 생각을 엿볼 수 있습니다.</p></div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer" class="container visible-md visible-lg">
    <hr>
    <div class="row">
      <div class="col-md-4">
        <strong>2015 Grapefruit / Mango / DK / Yoojin</strong>
      </div>
      <div class="col-md-3 col-md-offset-5 text-right">
        <address>
        홀가분<br>
        <a href="mailto:enon.jeong@gmail.com">enon.jeong@gmail.com</a>
        </address>
      </div>
    </div>
  </div>
</body>
</html>