doctype html
html
  head
    title= title
    meta(charset = "utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel = "stylesheet" href = "/style/dist/mine.css")
    script(type = "text/javascript" src = "/jquery/dist/jquery.js")
    script(type = "text/javascript" src = "/jquery/dist/jquery.min.js")
    script(type = "text/javascript" src = "/bootstrap/js/modal.js")
    script(type = "text/javascript" src = "/jquery.inputmask/dist/inputmask/jquery.inputmask.js")
    script(type = "text/javascript" src = "/moment/moment.js")
    script(type = "text/javascript" src = "/js/dist/mine.js")
    script(type = "text/javascript" src = "/js/dist/vote.js")
    script(type = "text/javascript" src = "/js/dist/sign.js")

  body
    block content