doctype html
html
  head
    title= title
    meta(charset = "utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel = "shortcut icon" href = "/img/rb.ico")
    link(rel = "stylesheet" href = "/sweetalert/dist/sweetalert.css")
    link(rel = "stylesheet" href = "/style/dist/mine.css")
    block style
    script(type = "text/javascript" src = "/jquery/dist/jquery.min.js")
    script(type = "text/javascript" src = "/bootstrap/dist/js/bootstrap.min.js")
    script(type = "text/javascript" src = "/jquery.inputmask/dist/inputmask/jquery.inputmask.js")
    script(type = "text/javascript" src = "/moment/moment.js")
    script(type = "text/javascript" src = "/formvalidation/dist/js/formValidation.min.js")
    script(type = "text/javascript" src = "/formvalidation/dist/js/framework/bootstrap.min.js")
    script(type = "text/javascript" src = "/sweetalert/dist/sweetalert.min.js")
    script(type = "text/javascript" src = "/js/dist/mine.js")
    script(src="https://use.typekit.net/njv0wgz.js")
    script.
      try{Typekit.load({ async: true });}catch(e){}
    block script
  body(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
    .header
      .row
        .col-md-12.text-center
          h1.logo_font
            a(href='/main') Research BOOK
    .menu_bar.row
      ul.nav.nav-collapse
        li.col-md-3.col-xs-6.text-center(class=(title == 'all'?'active':undefined))
          a(href='/all') 모든 조사
        li.col-md-3.col-xs-6.text-center(class=(title == 'new'?'active':undefined))
          a(href='/new') 새로운 조사
        li.col-md-3.col-xs-6.text-center(class=(title == 'time'?'active':undefined))
          a(href='/time') 마감임박 조사
        li.col-md-3.col-xs-6.text-center(class=(title == 'user'?'active':undefined))
          if user === ''
            a(href='/user/no') USER
          else
            a(href='/user/'+user.u_id) USER
    block content