<div class="row" id="rlist">
      <div class="col-md-4 col-sm-6 col-xs-12" id="ritem">
        <div class="col-md-4 col-xs-12 text-center" id="ricon">
          <img src="/static/img/pen-icon-w.png" class="img-reponsive">
        </div>
        <div class="col-md-8 col-xs-12">
          <h3>조사등록</h3>
          <p>우리가 궁금했던 설문조사를 등록할 수 있습니다.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12" id="ritem">
        <div class="col-md-4 col-xs-12 text-center" id="ricon">
          <img src="/static/img/check-icon-w.png" class="img-reponsive">
        </div>
        <div class="col-md-8 col-xs-12">
          <h3>조사참여</h3>
          <p>설문조사에 참여하여 도움도 주고 이벤트 당첨의 기회를 얻을 수 있습니다.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12" id="ritem">
        <div class="col-md-4 col-xs-12 text-center" id="ricon">
          <img src="/static/img/group-icon-w.png" class="img-reponsive">
        </div>
        <div class="col-md-8 col-xs-12">
          <h3>커뮤니티</h3>
          <p>조사내용을 토대로 많은 대중의 생각을 얻을 수 있습니다.</p>
        </div>
      </div>
    </div>