extends layout

block content
  #header
        .row
          .col-md-12.text-center
            h1#hlogo.logoFont
              a(href='/') Research BOOK
      #mainBox.container-fluid
        #sign
          #signBox.container
            .text-center
              h1 회원가입
            #signInput.text-center
              form(action='', method='POST')
                .labelBox
                  input#u_name(placeholder='성명', type='text')
                .labelBox
                  input#u_email(placeholder='email', type='email')
                #email-alert.alertBox
                  p 이메일 형식이 옳바르지 않습니다.
                .labelBox
                  input#u_pw(placeholder='비밀번호 (6~12 자 이내)', type='password')
                #pw-alert.alertBox
                  p 비밀번호는 6글자 이상 12글자 이하로 입력해주세요.
                .labelBox
                  input#u_pw_ch(placeholder='비밀번호 확인', type='password')
                #pw-ch-alert.alertBox
                  p 비밀번호가 일치하지 않습니다.
                .labelBox
                  input#u_ph(placeholder='휴대번호 입력', type='text')
                .row
                  button#signBtn.btn(type='submit') 완료
              a.btn(href="/") 뒤로