<!DOCTYPE html>
<html>
<head>
  <title>Research BOOK</title>
  <meta http-equiv="Content-Type" content="html/text; charset=utf-8" >
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet/less" type="text/css" href="/static/style/dest/mine.css">
  <script type="text/coffeescript" src="/static/js/dest/mine.js"></script>
</head>
<body>
  <div id="header">
    <div class="row">
      <div class="col-md-12 text-center"><h1 class="logo-font" id="hlogo"><a href="main.html">Research BOOK</a></h1></div>
    </div>
  </div>
  <div class="row" id="menu-bar">
        <a href="all.html"><div class="col-md-3 col-xs-6 text-center">모든 조사</div></a>
        <a href="new.html"><div class="col-md-3 col-xs-6 text-center">새로운 조사</div></a>
        <a href="time.html"><div class="col-md-3 col-xs-6 text-center" id="menu-bar-on">마감임박 조사</div></a>
        <a href="#"><div class="col-md-3 col-xs-6 text-center">USER</div></a>
  </div>
  <div class="container" id="main-box">
    <div class="row" id="time-table">
      <h3>마감임박 조사</h3>
      <table class="table table-hover">
        <thead class="text-center">
          <tr>
            <td class="col-md-7 col-xs-7">제목</td>
            <td class="col-md-2 col-xs-2">조회수</td>
            <td class="col-md-3 col-xs-3">등록일</td>
            </tr>
        </thead>
        <tbody>
          <tr><td><a href="#">[이벤트] 야식하면 생각나는 음식은?? [1]</a></td><td class="text-center">3</td><td class="text-center">2014-02-14</td></tr>
          <tr><td><a href="#">[이벤트] 야식하면 생각나는 음식은?? [1]</a></td><td class="text-center">3</td><td class="text-center">2014-02-14</td></tr>
          <tr><td><a href="#">[이벤트] 야식하면 생각나는 음식은?? [1]</a></td><td class="text-center">3</td><td class="text-center">2014-02-14</td></tr>
          <tr><td><a href="#">[이벤트] 야식하면 생각나는 음식은?? [1]</a></td><td class="text-center">3</td><td class="text-center">2014-02-14</td></tr>
          <tr><td><a href="#">[이벤트] 야식하면 생각나는 음식은?? [1]</a></td><td class="text-center">3</td><td class="text-center">2014-02-14</td></tr>
          <tr><td><a href="#">[이벤트] 야식하면 생각나는 음식은?? [1]</a></td><td class="text-center">3</td><td class="text-center">2014-02-14</td></tr>
          <tr><td><a href="#">[이벤트] 야식하면 생각나는 음식은?? [1]</a></td><td class="text-center">3</td><td class="text-center">2014-02-14</td></tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-12 text-center" id="search-box">
      <input type="text" class="search" id="search-time" /><input type="submit" value="검색" />
    </div>
  </div>
  <div id="footer" class="container visible-md visible-lg">
    <hr>
    <div class="row">
      <div class="col-md-4">
        <strong>2015 Grapefruit / Mango / DK / Yoojin</strong>
      </div>
    </div>
  </div>
</body>
</html>